.collection-date {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border-radius: 8px;

  background: white;
  width: 600px;
  height: 400px;

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    padding: 0.5rem;

    gap: 1rem;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 11.5rem;

    padding: 0.5rem;
    border: 1px solid #f3f3f3;
    border-radius: 8px;
  }
}
