.ant-layout-header {
  background: #1e3a8a !important;
  filter: drop-shadow(2px 2px 12px rgba(0, 0, 0, 0.06));
}

.ant-divider {
  padding: 0 24px;
  width: 80% !important;
}

.ant-layout-content {
  padding: 54px;
  overflow: auto;
}

.ant-layout {
  height: 100vh;
  max-width: 100rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.container {
  height: 100vh; // TODO use calc to subtract the header height
  width: 100%;
}

.content {
  background: #f3f3f3;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
