.container {
  display: flex;
  flex-direction: row;

  gap: 2rem;
}
.content {
  background: #f3f3f3;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
