.container {
  display: flex;
  flex-direction: row;

  gap: 2rem;
}
.content {
  background: #f3f3f3;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.edit-button {
  background: #50ff4d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 2px;
  border-radius: 8px;
  cursor: pointer;

  :hover {
    opacity: 0.7;
  }
  svg {
    margin-left: "3rem";
    color: "black";
  }
}
